<p> <%= link_to "New article", new_article_path %> </p>
<% @articles.each do |article| %>
  <h3><%= link_to article.title, article_path(article) %></h3>
  <p><%= article.content.first(150) %></p>
<% end %>

